#hot {
  background-image: url("assets/hot.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#juicy {
  background-image: url("assets/juicy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#cosy {
  background-image: url("assets/cosy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  padding: 1rem;
  color: white;
  font-weight: 200;
  font-size: 1.5rem;
  width: 650px;
  margin: 0 auto;
}

* {
  padding: 0px;
  margin: 0px;
  height: fit-content;
  font-family: "Poiret One", sans-serif;
  font-family: "Spirax", sans-serif;
}

@media only screen and (max-width: 1282px) {
  p {
    width: fit-content;
  }
}
